---
---

/* @import "{{ site.theme }}";  this is the default */

body {
  margin: 0;
  background-image: url("github-site-images\github-bg.png") center center/cover repeat
  font-family: "Courier New", monospace;
  table, th, td {
  border: 1px solid;
  }
  background-color: #241f31;
}

@media (prefers-color-scheme: light) {
  body {
    color: white;
    background-color: #241f31;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    color: white;
    background-color: #241f31;
  }
}

.markdown-body {
  box-sizing: border-box;
  min-width: 200px;
  max-width: 980px;
  margin: 0 auto;
  padding: 45px;
}

@media (max-width: 767px) {
  .markdown-body {
    padding: 15px;
  }
}
