---
---

/* @import "{{ site.theme }}";  this is the default */

body {
  margin: 0;
  background: #241f31 url(https://www.canva.com/design/DAHUlhC4BQw/Eqs06_8EiSg8BmMyWcF2BQ/edit?ui=e30) center center/cover repeat
  .monospace {
  "Courier New", monospace;
  }
  table, th, td {
  border: 1px solid;
  }
  background-color: #241f31;
}

@media (prefers-color-scheme: light) {
  body {
    color: white;
    background-color: #241f31;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    color: white;
    background-color: #241f31;
  }
}

.markdown-body {
  box-sizing: border-box;
  min-width: 200px;
  max-width: 980px;
  margin: 0 auto;
  padding: 45px;
}

@media (max-width: 767px) {
  .markdown-body {
    padding: 15px;
  }
}
